.place__link {
    margin: 0;
    padding: 0;
    transition: 0.3 ease-in;
    font-size: 18px;
    line-height: 122%;
    color: #FFFFFF;
}

.place__link:hover{
  cursor: pointer;
}

.place__link:hover {
  opacity: 0.8;
}






